.wrapper {
  display: flex;
  border: none;
  font-size: 1.6rem;
  user-select: none;

  &:hover {
    background-color: var(--bg-hover);
  }

  > * {
    cursor: pointer;
    border: none;
    outline: none;
    border-radius: 3px;
    color: var(--font-color-brand);
    background-color: transparent;
    text-decoration: none;

    span,
    svg {
      margin: 0px 2px;
    }

    svg {
      font-size: 1.6rem;
    }

    .cancel {
      display: none;
    }
  }
}

.active,
.file {
  .text {
    width: 0;
  }
  &:hover {
    .cancel {
      display: block;
    }
  }
}

.item,
.medium {
  display: flex;
  min-height: 52px;
  background-color: var(--bg-primary);
  border-radius: 8px;

  > * {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 12px;
    color: var(--font-color-secondary);

    .text {
      flex: 1;
      text-align: left;
      padding: 0 8px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    svg {
      width: 16px;
      text-align: left;
    }

    .sub-text {
      color: var(--font-color-secondary);
    }
  }
}

.item {
  &.danger {
    * {
      color: var(--font-color-warning);
    }
  }
}

.active {
  > * {
    color: var(--font-color-brand);
  }
}

.small {
  min-height: 40px;
}

.small > * {
  padding: 8px 12px;
}

.medium {
  min-height: 52px;
  display: flex;
  background-color: var(--bg-primary);

  > * {
    flex: 1;
    font-weight: 600;
    text-align: center;
    font-size: 1.6rem;
  }
}

.center-text {
  .left-icon,
  .right-icon {
    flex: 1;
  }
  .text {
    text-align: center;
  }
}

.disable {
  pointer-events: none;
  opacity: 0.5;
}

.primary {
  background-color: var(--bg-brand);
  * {
    color: #fff;
  }

  &:hover {
    background-color: var(--bg-brand);
    opacity: 0.8;
    * {
      color: var(--color-brand-secondary);
    }
  }
}
