@import "normalize.css";

:root[data-theme="dark"] {
  // The :root selector matches the document's root element.

  --bg-primary: #252423;
  --bg-secondary: #11100f;
  --bg-tertiary: #252423;
  --bg-primary-accent: #201f1e;
  --bg-hover: #323130;
  --bg-hover-secondary: #292827;
  --bg-hover-tertiary: #323130;
  --bg-active: #3b3a39;
  --bg-active-secondary: #3b3a39;
  --bg-active-tertiary: #3b3a39;
  --bg-separator: #484644;
  --bg-border: #605e5c;
  --bg-scrollbar: #484644;
  --bg-brand: #296fe6;
  --bg-brand-hover: #2461c8;
  --bg-brand-secondary: #071327;
  --bg-brand-hover-secondary: #1890f1;
  --bg-brand-disable: #1b1a19;
  --font-color-primary: #fff;
  --font-color-secondary: #a19f9d;
  --font-color-tertiary: #a19f9d;
  --font-color-warning: #f1707b;
  --font-color-brand: #78bafd;
  --font-color-disable: #a19f9d;
  --bg-ms-planner: #a4e18c;
  --bg-ms-one-note: #c0aae4;
  --bg-ms-excel: #60bd82;
  --bg-ms-word: #82abf1;
  --bg-ms-power-point: #e1966d;
  --bg-ms-teams: #a6a7dc;
  --bg-ms-loop: #a375ff;
  --bg-warning: #433519;
  --bg-error: #4f2a0f;
}

:root[data-theme="light"] {
  --bg-primary: #fff;
  --bg-secondary: #f3f1f1;
  --bg-tertiary: #fff;
  --bg-primary-accent: #faf9f8;
  --bg-hover: #f5f5f5;
  --bg-hover-secondary: #fdfdfd;
  --bg-hover-tertiary: #f5f5f5;
  --bg-active: #eff6fc;
  --bg-active-secondary: #f3f2f1;
  --bg-active-tertiary: #f3f2f1;
  --bg-separator: #e1dfdd;
  --bg-border: #e1dfdd;
  --bg-scrollbar: #8a8886;
  --bg-shadow: rgba(0, 0, 0, 0.1);
  --bg-brand: #2564cf;
  --bg-brand-hover: #215aba;
  --bg-brand-hover-secondary: #8c93a5;
  --bg-brand-secondary: #ecf6fd;
  --bg-brand-disable: #b7d7f6;
  --font-color-primary: #292827;
  --font-color-secondary: #605e5c;
  --font-color-tertiary: #605e5c;
  --font-color-warning: #a80000;
  --font-color-brand: #2564cf;
  --font-color-disable: #a19f9d;
  --bg-ms-planner: #31752f;
  --bg-ms-one-note: #7719aa;
  --bg-ms-excel: #107c41;
  --bg-ms-word: #185abd;
  --bg-ms-power-point: #c43e1c;
  --bg-ms-teams: #6355a8;
  --bg-ms-loop: #8230ff;
  --bg-warning: #fff4ce;
  --bg-error: #fed9cc;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%; // https://www.aleksandrhovhannisyan.com/blog/62-5-percent-font-size-trick/
}

body {
  font-family: "Segoe", "Segoe UI", "Arial", "sans-serif";
  font-size: 1.6rem;
  line-height: 1.5;
  text-rendering: optimizeSpeed;
  color: var(--font-color-primary);
  background-color: var(--bg-secondary);
  overflow: hidden;
}


::-webkit-scrollbar {
  position: absolute;
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background: var(--bg-scrollbar);
  border-radius: 10px;
}

