.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 48px;
  background-color: var(--bg-primary);
  padding: 0 24px;

  .brand {
    white-space: nowrap;
    text-decoration: none;
    font-weight: 700;
    font-size: 2.4rem;
    color: var(--font-color-primary);
  }

  .button-list {
    display: flex;
    .account {
      display: flex;
      align-items: center;
      text-align: right;
      padding-left: 16px;
      cursor: pointer;

      &:hover {
        background-color: var(--bg-hover);
      }

      .username {
        font-size: 1.3rem;
        color: var(--font-color-primary);
      }
      .email {
        font-size: 1.2rem;
        color: var(--font-color-secondary);
      }
    }
    

    .avatar {
      width: 30px;
      height: 30px;
      display: inline-block;
      border-radius: 50%;
      border: 1px solid var(--bg-secondary);
      background-size: cover;
    }

    .error-text {
      color: var(--font-color-warning);
      text-align: center;
      font-size: 1.2rem;
    }
  }
}
