.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 48px;
  background-color: var(--bg-primary);
  padding: 0 24px;
  gap: 12px;

  .left-column {
    display: flex;
    align-items: center;
    gap: 8px;

    .bars-btn {
      padding-right: 12px;
      display: none;
    }

    .bars-btn,
    .brand {
      white-space: nowrap;
      text-decoration: none;
      font-weight: 700;
      font-size: 2.4rem;
      color: var(--font-color-primary);
    }
  }

  .search {
    width: 400px;
    > :first-child {
      border-radius: 8px;
      background-color: var(--bg-hover);
      overflow: hidden;

      > :first-child {
        height: 38px;
        background-color: var(--bg-hover);
      }
    }

    input {
      height: 40px;
      width: 80px;
      overflow: hidden;
      text-overflow: ellipsis;
      margin-right: -8px;
    }
  }

  .button-list {
    display: flex;
    gap: 16px;
    .account {
      display: flex;
      align-items: center;
      text-align: right;
      cursor: pointer;

      &:hover {
        background-color: var(--bg-hover);
      }

      .username {
        font-size: 1.3rem;
        color: var(--font-color-primary);
      }
      .email {
        font-size: 1.2rem;
        color: var(--font-color-secondary);
      }
    }

    .avatar {
      width: 30px;
      height: 30px;
      display: inline-block;
      border-radius: 50%;
      border: 1px solid var(--bg-secondary);
      background-size: cover;
    }

    .error-text {
      color: var(--font-color-warning);
      text-align: center;
      font-size: 1.2rem;
    }
  }
}

@media (max-width: 1113px) {
  .wrapper .left-column .bars-btn {
    display: block;
  }
}

@media (max-width: 740px) {
  .brand {
    display: none;
  }

  .username {
    display: none;
  }

  .email {
    display: none;
  }
}
