.wrapper {
  display: flex;
  flex-direction: column;
  min-width: 290px;
  height: calc(100vh - 48px);
  background-color: var(--bg-primary-accent);
  padding: 0 0px 16px;
  overflow-y: auto;

  > * {
    margin-bottom: 8px;
    padding-bottom: 8px;
  }

  .search {
    position: sticky;
    padding: 16px 12px;
    background-color: var(--bg-primary-accent);
    top: 0px;
    color: var(--font-color-primary);
    border-bottom: 0.1rem solid var(--bg-active);
    
    > :first-child {
      border-radius: 8px;
      overflow: hidden;
    }

    input {
      margin-left: 8px;
      margin-right: -18px;
    }
  }
}

.default-list {
  border-bottom: 0.1rem solid var(--bg-active);
}

.user-list {
  form {
    > :last-child {
      padding: 0 12px;
      background-color: var(--bg-primary);

      input {
        margin-left: 10px;
        margin-right: -12px;
      }
    }
  }
}
