.wrapper {
  display: flex;
  flex-direction: column;
  min-width: 300px;
  height: calc(100vh - 64px);
  background-color: var(--bg-primary-accent);
  overflow-y: auto;

  > * {
    margin-bottom: 8px;
    padding-bottom: 8px;
  }
}

.default-list {
  border-bottom: 0.1rem solid var(--bg-separator);
}

.user-list {
  form {
    > :last-child {
      padding: 0 12px;
      background-color: var(--bg-primary);

      input {
        margin-left: 10px;
        margin-right: -12px;
      }
    }
  }
}
