.wrapper {
  display: flex;
  flex-direction: column;
  background-color: var(--bg-primary-accent);
  flex: 1;

  .sidebar {
    padding-top: 16px;
  }

  .content {
    display: flex;
  }

  .main-content {
    flex: 1;
    padding: 0px 16px 24px 24px;
    // min-width: 460px;
    height: calc(100vh - 48px);
    scrollbar-gutter: stable;
    overflow-y: auto;
    background-color: var(--bg-secondary);

    > * {
      margin-bottom: 16px;
    }

    .header {
      position: sticky;
      top: 0px;
      background-color: var(--bg-secondary);
      display: flex;
      flex-direction: column;
      border-bottom: 0.1rem solid var(--bg-separator);

      > :first-child {
        padding-top: 24px;
      }

      > * {
        margin-bottom: 16px;
      }

      .add-task {
        display: flex;
        align-items: center;
        background-color: var(--bg-primary);
        gap: 8px;
        border-radius: 8px;
        overflow: hidden;
        padding-right: 8px;
        > :first-child {
          flex: 1;
        }

        > :last-child {
          border-radius: 8px;
          overflow: hidden;
        }
      }
    }

    .tasks-list {
      > * {
        margin-bottom: 8px;
      }
    }
  }

  .detail {
    padding-top: 16px;
    background-color: var(--bg-primary-accent);
  }

  form {
    input {
      height: 40px;
      width: 80px;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}

@media (max-width: 740px) {
  .detail {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
  }
}

@media (max-width: 1113px) {
  .wrapper-sidebar {
    background-color: rgba($color: #000, $alpha: 0.4);
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1111;

    .sidebar {
      background-color: var(--bg-primary-accent);
      width: fit-content;
      overflow: hidden;
    }

    .hidden-sidebar {
      display: none;
    }
  }
}

@media (max-width: 320px) {
  .wrapper-sidebar {
    .sidebar {
      width: 100% !important;
      > :first-child {
        width: 100%;
      }
    }
  }
}
