.wrapper {
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 12px 24px;
  background-color: transparent;
  font-size: 1.6rem;
  border-left: 2px solid transparent;

  .title {
    flex: 1;
    margin: 0px 16px;
  }

  .icon,
  svg {
    width: 24px;
    text-align: left;
  }
}

.wrapper:hover {
  background-color: var(--bg-hover);
}

.active {
  border-left: 2px solid var(--font-color-brand);
  background-color: var(--bg-active);
}
