.wrapper {
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 12px 24px;
  background-color: transparent;
  font-size: 1.6rem;
  border-left: 2px solid transparent;
  user-select: none;

  .input-list-name,
  .title {
    flex: 1;
    width: 0; // Fix Issue 464210: Flex-basis is being ignored when sizing nested flex containers.
    margin: 0px 16px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .input-list-name {
    height: 24px;
    border: none;
    outline: none;
    background-color: var(--bg-primary);
    color: inherit;
    font-size: inherit;
  }

  .icon,
  svg {
    width: 24px;
    text-align: left;
  }
}

.wrapper:hover {
  background-color: var(--bg-hover);
}

.active {
  border-left: 2px solid var(--font-color-brand);
  background-color: var(--bg-active);
}
