.wrapper {
    display: flex;
    align-items: center;
    color: var(--font-color-brand);
    user-select: none;
}

.title > * {
    margin-right: 8px;
}

.title {
    flex: 1;
    display: flex;
    align-items: center;
    font-size: 2rem;
    font-weight: 500;
}