.wrapper {
  display: flex;
  min-width: 350px;
  flex-direction: column;
  position: absolute;
  padding: 24px;
  width: fit-content;
  height: fit-content;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1001;
  gap: 24px;
  background-color: var(--bg-primary-accent);
  border-radius: 8px;
  box-shadow: 0px 0px 10px 10px rgba($color: #000, $alpha: 0.05);

  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 2rem;
    color: var(--font-color-primary);
    font-weight: 700;
    gap: 12px;

    .close {
      cursor: pointer;

      svg,
      path {
        color: var(--font-color-secondary);
      }

      :hover {
        svg,
        path {
          color: var(--font-color-primary);
        }
      }
    }
  }

  .body {
    form {
      display: flex;
      flex-direction: column;
      gap: 12px;

      label {
        margin-top: 12px;
      }

      > div {
        display: flex;
        border-radius: 8px;
        overflow: hidden;
        gap: 8px;

        > *,
        > * > :first-child {
          border-radius: 8px;
        }
      }

      > *,
      > * > :first-child {
        border-radius: 8px;
      }
    }
  }

  .footer {
    display: flex;
    justify-content: right;
    gap: 12px;
  }
}

.outside {
  display: flex;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1001;
  background-color: rgba($color: #000, $alpha: 0.5);
}
